[Unit]
Description=OpenStack Vitrage notifier service
After=syslog.target network.target

[Service]
Type=simple
User=vitrage
ExecStart=/usr/bin/vitrage-notifier --logfile /var/log/vitrage/notifier.log
Restart=on-failure

[Install]
WantedBy=multi-user.target

